{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>



<h1><bold>Das Mahnmal bleibt! By any means necessary</bold></h1>


 <img src="\img\mahnmaldemo.jpg" class="mx-auto d-block" alt="Responsive Bild">






  
  <div class="card">
  <div class="card-body">
    <h2 class="card-title"></h2>
      <ul class="card-text"><h3><bold>das Mahnmal für die ermordeten Sinti und Roma Europas in Berlin ist in Gefahr. Seit ein paar Wochen gibt es Proteste. Wir möchten diese Proteste ausweiten – und zwar mit euch zusammen!

Darum rufen wir euch – Initiativen, Organisationen, künstlerische Einrichtungen und Einzelpersonen – auf, unseren Aufruf zu unterzeichnen. Bitte schreibt uns bis Dienstag, 7. Juli 2020,an mail@bundesromaverband.de um unsere Stellungnahme zu unterzeichnen. Sagt uns bitte genau, eure Namen und Titel, mit denen ihr darunter stehen wollt. Und bitte ladet weitere Menschen und Organisationen zur Unterzeichnung ein.
Das Mahnmal bleibt! By any means necessary
Das zentrale »Mahnmal der im Nationalsozialismus ermordeten Sinti und Roma Europas« ist durch Pläne der Deutschen Bahn bedroht. Eine Strecke der Berliner S-Bahn soll unter dem Mahnmal durchführen.<br><br><br> Der Gedenkort soll (teilweise) entfernt und über viele Jahre gar nicht mehr zugänglich sein. Über 60 Jahre mussten Roma und Sinti um dieses Mahnmal und die mit ihm verbundene Anerkennung ihres Leids kämpfen.
Es gibt zur Zeit Gespräche über alternative Bahnstrecken – aber es steht nicht fest, wie diese Gespräche ausgehen werden. Daher finden wir es wichtig, darum zu kämpfen, dass das Mahnmal in der bestehenden Form bleibt und in keiner Weise angetastet wird. Die deutsche Bahn muss ihre Pläne ändern.<br><br><br> Nichts von dem Areal rund ums Mahnmal darf angetastet werden. Es gibt immer weniger Zeitzeug:innen. Darum ist es umso wichtiger, dass das Mahnmal sicher bestehen bleibt, nicht jetzt und auch nicht in Zukunft angetastet wird.
Alle heute lebenden Roma und Sinti sind Nachkommen der Verfolgten, Kinder und Enkel der Überlebenden. Viele unserer Menschen haben kein Grab. Sie wurden in Todeslagern vergast, in Wäldern erschossen, in Massengräbern verscharrt. Unser Denkmal in Berlin ist der Ort, an dem wir um die Toten ohne Gräber trauern.</bold></ul></h3>
</div>
    <div class="card-footer">
     </div>
  </div>





   



<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  background-image: url('img/mahnmal4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
    width: 60vw;
    margin: 20%;
    border: solid 1px grey;
     border-radius: 15%;
}

#demo{
  color: white;
}


img{
  max-width: 40%;
  height: auto;
  
  
}

     
    
     


h1,h3,h2{
  text-align: center;
  
}






.fa-youtube {
  background: #bb0000;
  color: white;
  

}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



.fa {
  padding: 0%auto;
  font-size: 40px;
  width: 5%;
  height: 1%;
  text-align: center;
  text-decoration: none;
  margin: 2px 5px;
}

.fa:hover {
    opacity: 0.7;
}

a{
  border-radius: 30%;
   
}



</style>

<p id="demo"></p>

<footer>
  <div class="card">
  <div class="card-body">
    <h2 class="card-title"></h2>
      <ul class="card-text1"><h3><bold>Es ist aber nicht nur ein Ort der Trauer für die Hinterbliebenen. Es ist auch ein Ort der Mahnung. Ein Ort des Nie wieder. Somit erfüllt das Mahnmal eine wichtige Funktion für die Mehrheit. Wir können den Völkermord an unseren Menschen nicht vergessen. Die Mehrheitsbevölkerung kann das durchaus, sofern sie überhaupt vom Völkermord an Roma und Sinti weiß. Das Mahnmal ist ein Ort, an dem die Mehrheit aus der Geschichte lernen kann. Darum ist auch die Mehrheit in der Verantwortung, für den Ort zu kämpfen.

Die Reichsbahn hat Zwangsarbeiter_innen nach Deutschland verschleppt, ohne die Wirtschaft und Krieg nicht aufrecht erhalten worden wären.<br><br><br> Sie hat Millionen damit verdient, Menschen in die Arbeits- und Todeslager zu transportieren. Dass es jetzt gerade ihre Nachfolgerin ist, die Deutsche Bahn, die unser Denkmal zerstören wird, ist eine unerträgliche Respektlosigkeit gegenüber den wenigen Überlebenden, die noch da sind, und allen unseren Menschen.

Die Verfolgung von Roma ist nicht nur Teil der Geschichte. Sie ist auch Teil der Gegenwart. Rassismus, Diskriminierung und Gewalt sind Teil unseres Alltags. In Deutschland, in Europa, in der Welt.<br><br><br>

Die Abwehr, die sich gegen uns richtet, sowohl in der Migrationsabwehr als auch in historisch gewachsenen strukturell rassistischen Vorgängen – sie wirkt schlimmer je weniger Unterstützung und Wahrnehmung wir haben. Daher empfinden wir schon die Diskussionen um das Mahnmal als Angriff.

Wir sprechen uns seit Jahren gegen ein leeres Erinnern und ein kaltes Vergessen aus. Um die Unterbrechung der fortgesetzten Geschichte müssen wir weiter ringen.<br><br><br>

Wir haben eine Demo in Berlin organisiert unter dem Motto: Schützt das Mahnmal für die Sinti und Roma Europas. Wir organisieren weiter Proteste, Kundgebungen, Demonstrationen, Gedenkveranstaltungen, bis das Mahnmal sicher ist.

Dani Karavan, der Künstler, der das Mahnmal gestaltete, hat angekündigt, dieses notfalls mit seinem Körper zu schützen. Er ist heute 89 Jahre alt. Wir nehmen das als Auftrag und wir rufen euch: Aus Respekt für die bis zu 1,5 Millionen ermordeten Roma und Sinti Europas! Zeigt eure Solidarität, beteiligt euch und kämpft mit uns ums Mahnmal – 
<br>
<br>
<br>
egal wo, egal wie – by any means necessary!

 

Das Mahnmal bleibt wie es ist und vorallem wo es ist!</bold></h3></ul>



 


   
    <img src="\img\demomahnmal.jpg" class="mx-auto d-block" alt="Responsive Bild">
   
    </div>
    <div class="card-footer">
    <h3><bold>Erstunterzeichner:innen
Bundes Roma Verband e.V.</bold></h3>

<br>
<br>
<br>
<br>
<br>
<br>
<h2><bold>Social Media:</bold></h2>
<br>
<br>
<br>

<a href="#" class="fa fa-youtube"></a>
<a href="https://www.facebook.com/bundesromaverband/?locale=de_DE" class="fa fa-facebook"></a>
<a href="#" class="fa fa-instagram"></a>





<a href="https://www.bundesromaverband.de/das-mahnmal-bleibt-by-any-means-necessary/">
  <img src="\img\logobrv.png" "alt="Icon"> </a>
<a href="https://www.roma-center.de/">
  <img src="\img\logoran.png" "alt="Icon"> </a>
  






  

</footer>

<script>
// Set the date we're counting down to
var countDownDate = new Date("jun 5, 2026 00:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>


{% endblock %}
